html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0 0 .8rem 0;
	padding: 0;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

img {
max-width: 100%;
height: auto;
}
  
body {
	color: #ffffff;
	background: #140f27;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


/* transition */
.transition:before,
.transition:after {
	content: "";
    display: block;
    width: 70%;
    height: 100%;
    position: absolute;
    background: #4a57c7;
    top: 0;
    left: -100%;
    z-index: 5;
	transition: all 1s ease;
	transform: skew(20deg, 0);
}
.transition:after {
	left: auto;
	right: -100%;
	z-index: 4;
	background: #21bd8e;
}
.transition.active:before {
	left: -20%;
}
.transition.active:after {
	right: -20%;
	left: auto;
}
